In [1]:
import random
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

# Binary variable

In [2]:
sex = [random.choice(['Male', 'Female']) for _ in range(20)]
df_sex = pd.DataFrame({'sex': sex})
df_sex.head()

      sex
0  Female
1  Female
2  Female
3    Male
4    Male

### OneHotEncoder

In [3]:
ohe_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_sex[['sex']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols).head()

   sex_Female  sex_Male
0         1.0       0.0
1         1.0       0.0
2         1.0       0.0
3         0.0       1.0
4         0.0       1.0

### OneHotEncoder drop='if_binary'

In [4]:
ohe_encoder = OneHotEncoder(sparse_output=False, drop='if_binary')  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_sex[['sex']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols).head()

   sex_Male
0       0.0
1       0.0
2       0.0
3       1.0
4       1.0

### LabelEncoder

In [5]:
label_encoder = LabelEncoder()  # sparse_output=False returns a dense array
label_encoded = label_encoder.fit_transform(df_sex['sex'])
pd.DataFrame(label_encoded).head()

   0
0  0
1  0
2  0
3  1
4  1

# Multi-class variable

In [6]:
order = ['E', 'D', 'C', 'B', 'A']
AIS_Initial = [random.choice(order) for _ in range(20)]
df_ais = pd.DataFrame({'AIS_Initial': AIS_Initial})
df_ais.head()

  AIS_Initial
0           A
1           C
2           E
3           E
4           C

### OneHotEncoder

In [7]:
ohe_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_ais[['AIS_Initial']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols)
one_hot_encoded_df.head()

   AIS_Initial_A  AIS_Initial_B  AIS_Initial_C  AIS_Initial_D  AIS_Initial_E
0            1.0            0.0            0.0            0.0            0.0
1            0.0            0.0            1.0            0.0            0.0
2            0.0            0.0            0.0            0.0            1.0
3            0.0            0.0            0.0            0.0            1.0
4            0.0            0.0            1.0            0.0            0.0

### LadderEncoder

In [8]:
# Re-order the dataframe into the user specified order
df_ais_ladder = one_hot_encoded_df.loc[:, [f"AIS_Initial_{c}" for c in order]]
df_ais_ladder.head()

   AIS_Initial_E  AIS_Initial_D  AIS_Initial_C  AIS_Initial_B  AIS_Initial_A
0            0.0            0.0            0.0            0.0            1.0
1            0.0            0.0            1.0            0.0            0.0
2            1.0            0.0            0.0            0.0            0.0
3            1.0            0.0            0.0            0.0            0.0
4            0.0            0.0            1.0            0.0            0.0

In [9]:
# Use the CumSum trick to format it into a proper "ladder" encode
df_ais_ladder = np.cumsum(df_ais_ladder, axis=1)
df_ais_ladder.head()

   AIS_Initial_E  AIS_Initial_D  AIS_Initial_C  AIS_Initial_B  AIS_Initial_A
0            0.0            0.0            0.0            0.0            1.0
1            0.0            0.0            1.0            1.0            1.0
2            1.0            1.0            1.0            1.0            1.0
3            1.0            1.0            1.0            1.0            1.0
4            0.0            0.0            1.0            1.0            1.0

### LabelEncoder

In [10]:
label_encoder = LabelEncoder()  # sparse_output=False returns a dense array
one_hot_encoded = label_encoder.fit_transform(df_ais['AIS_Initial'])
pd.DataFrame(one_hot_encoded).head()

   0
0  0
1  2
2  4
3  4
4  2