In [1]:
import random
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
random.seed(42)

# Binary variable

In [2]:
sex = [random.choice(['Male', 'Female']) for _ in range(20)]
df_sex = pd.DataFrame({'sex': sex})
df_sex.head()

      sex
0    Male
1    Male
2  Female
3    Male
4    Male

### OneHotEncoder

In [3]:
ohe_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_sex[['sex']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols).head()

   sex_Female  sex_Male
0         0.0       1.0
1         0.0       1.0
2         1.0       0.0
3         0.0       1.0
4         0.0       1.0

### OneHotEncoder drop='if_binary'

In [4]:
ohe_encoder = OneHotEncoder(sparse_output=False, drop='if_binary')  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_sex[['sex']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols).head()

   sex_Male
0       1.0
1       1.0
2       0.0
3       1.0
4       1.0

In [5]:
snl_class_initial = [random.choice(['Low Cervical', 'High Cervical']) for _ in range(20)]
df_snl_class_initial = pd.DataFrame({'SNL_Class_initial': snl_class_initial})
df_snl_class_initial.head()

  SNL_Class_initial
0      Low Cervical
1      Low Cervical
2     High Cervical
3     High Cervical
4     High Cervical

In [6]:
ohe_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_snl_class_initial[['SNL_Class_initial']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols).head()

   SNL_Class_initial_High Cervical  SNL_Class_initial_Low Cervical
0                              0.0                             1.0
1                              0.0                             1.0
2                              1.0                             0.0
3                              1.0                             0.0
4                              1.0                             0.0

In [7]:
ohe_encoder = OneHotEncoder(sparse_output=False, drop='if_binary')  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_snl_class_initial[['SNL_Class_initial']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols).head()

   SNL_Class_initial_Low Cervical
0                             1.0
1                             1.0
2                             0.0
3                             0.0
4                             0.0

### LabelEncoder

In [8]:
label_encoder = LabelEncoder()  # sparse_output=False returns a dense array
label_encoded = label_encoder.fit_transform(df_sex['sex'])
pd.DataFrame(label_encoded).head()

   0
0  1
1  1
2  0
3  1
4  1

# Multi-class variable

In [9]:
sites = [random.choice(['van', 'hal', 'mon', 'ott', 'que', 'sai']) for _ in range(100)]
df_sites = pd.DataFrame({'site': sites})
df_sites.head(10)

  site
0  que
1  mon
2  sai
3  que
4  mon
5  que
6  hal
7  sai
8  van
9  van

In [10]:
ohe_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_sites[['site']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols)
one_hot_encoded_df.head(10)

   site_hal  site_mon  site_ott  site_que  site_sai  site_van
0       0.0       0.0       0.0       1.0       0.0       0.0
1       0.0       1.0       0.0       0.0       0.0       0.0
2       0.0       0.0       0.0       0.0       1.0       0.0
3       0.0       0.0       0.0       1.0       0.0       0.0
4       0.0       1.0       0.0       0.0       0.0       0.0
5       0.0       0.0       0.0       1.0       0.0       0.0
6       1.0       0.0       0.0       0.0       0.0       0.0
7       0.0       0.0       0.0       0.0       1.0       0.0
8       0.0       0.0       0.0       0.0       0.0       1.0
9       0.0       0.0       0.0       0.0       0.0       1.0

In [17]:
order = ['A', 'B', 'C', 'D', 'E']
AIS_Initial = [random.choice(order) for _ in range(20)]
df_ais = pd.DataFrame({'AIS_Initial': AIS_Initial})
df_ais.head(10)

  AIS_Initial
0           C
1           B
2           E
3           E
4           A
5           E
6           C
7           D
8           A
9           A

### OneHotEncoder

In [18]:
ohe_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False returns a dense array
one_hot_encoded = ohe_encoder.fit_transform(df_ais[['AIS_Initial']])
ohe_feature_cols = ohe_encoder.get_feature_names_out()
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=ohe_feature_cols)
one_hot_encoded_df.head(10)

   AIS_Initial_A  AIS_Initial_B  AIS_Initial_C  AIS_Initial_D  AIS_Initial_E
0            0.0            0.0            1.0            0.0            0.0
1            0.0            1.0            0.0            0.0            0.0
2            0.0            0.0            0.0            0.0            1.0
3            0.0            0.0            0.0            0.0            1.0
4            1.0            0.0            0.0            0.0            0.0
5            0.0            0.0            0.0            0.0            1.0
6            0.0            0.0            1.0            0.0            0.0
7            0.0            0.0            0.0            1.0            0.0
8            1.0            0.0            0.0            0.0            0.0
9            1.0            0.0            0.0            0.0            0.0

### LadderEncoder

In [19]:
# Re-order the dataframe into the user specified order
df_ais_ladder = one_hot_encoded_df.loc[:, [f"AIS_Initial_{c}" for c in order]]
#df_ais_ladder.head(10)

In [20]:
# Use the CumSum trick to format it into a proper "ladder" encode
df_ais_ladder = np.cumsum(df_ais_ladder, axis=1)
df_ais_ladder.head(10)

   AIS_Initial_A  AIS_Initial_B  AIS_Initial_C  AIS_Initial_D  AIS_Initial_E
0            0.0            0.0            1.0            1.0            1.0
1            0.0            1.0            1.0            1.0            1.0
2            0.0            0.0            0.0            0.0            1.0
3            0.0            0.0            0.0            0.0            1.0
4            1.0            1.0            1.0            1.0            1.0
5            0.0            0.0            0.0            0.0            1.0
6            0.0            0.0            1.0            1.0            1.0
7            0.0            0.0            0.0            1.0            1.0
8            1.0            1.0            1.0            1.0            1.0
9            1.0            1.0            1.0            1.0            1.0

### LabelEncoder

In [22]:
label_encoder = LabelEncoder()  # sparse_output=False returns a dense array
one_hot_encoded = label_encoder.fit_transform(df_ais['AIS_Initial'])
pd.DataFrame(one_hot_encoded, columns=['AIS_Initial']).head(10)

   AIS_Initial
0            2
1            1
2            4
3            4
4            0
5            4
6            2
7            3
8            0
9            0

In [25]:
Singleneurologicallevel_Initial = [random.choice(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'T1']) for _ in range(100)]
df_neurologicallevel = pd.DataFrame({'Singleneurologicallevel_Initial': Singleneurologicallevel_Initial})
df_neurologicallevel.head(10)

  Singleneurologicallevel_Initial
0                              C4
1                              C2
2                              C6
3                              C1
4                              T1
5                              C4
6                              C4
7                              C1
8                              C2
9                              C1

In [26]:
label_encoder = LabelEncoder()  # sparse_output=False returns a dense array
one_hot_encoded = label_encoder.fit_transform(df_neurologicallevel['Singleneurologicallevel_Initial'])
pd.DataFrame(one_hot_encoded, columns=['Singleneurologicallevel_Initial']).head(10)

   Singleneurologicallevel_Initial
0                                3
1                                1
2                                5
3                                0
4                                8
5                                3
6                                3
7                                0
8                                1
9                                0